{% extends "bootstrap/base.html" %}
{% block title %}IoT - {% block subtitle %}{% endblock %}{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="shortcut icon" href="#">
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Chart.js javascript sources -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="//cdn.amcharts.com/lib/5/index.js"></script>
<script src="//cdn.amcharts.com/lib/5/xy.js"></script>
<script src="//cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='main.js')}}" charset="utf-8"></script>
<script type="text/javascript" src="{{url_for('static', filename='line_chart.js')}}" charset="utf-8"></script>
<script type="text/javascript" src="{{url_for('static', filename='thermometer.js')}}" charset="utf-8"></script>
<script type="text/javascript" src="{{url_for('static', filename='pureknob.js')}}" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div class="hero">
  <nav>
    <img src="https://play-lh.googleusercontent.com/PeEyqUvKiWvFgW48xKjGqwqaDb8KHXUAE9TERNZNehbe8HztGkaoUDyc4mq8iO4Ka5o"
      class="logo">
    <h2 style="margin-left:15px;">IoT Dashboard</h2>
    <ul>
      <li><a href="" id="autoManLabel">Automatic</a></li>
    </ul>
    <button type="button" onclick="toggleBtn()" id="btn"><span></span></button>
  </nav>
  {% block subcontent %}{% endblock %}
</div>

{% endblock %}